.rightsidebar{
    width: 300px;
    min-width: 300px;
    margin-top: 24px;
    margin-left: 24px;
}
.rightsidebar__article{
    border-radius: 3px;
    border: 1px solid var(--yellow-200);
    background: var(--yellow-050);
}
.rightsidebar__article h3{
    padding: 12px 15px;
    font-size: 12px;
    border-bottom: 1px solid var(--yellow-200);
    color: var(--black-600);
    background: var(--yellow-100);
}
.rightsidebar__article ul li{
    padding: 12px 15px;
    font-size: 13px;
    color: var(--fc-medium);
    display: flex;
}
.rightsidebar__write__icon{
    width: 22px;
}
.rightsidebar__article ul li a{
    color: var(--fc-medium);
}