.hidden {
  display: none;
}

.container {
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 24px;
  justify-content: center;
  align-items: center;
}

.flex--item {
  display: flex;
  max-width: 280px;
  flex-direction: column;
  height: 594px;
  width: 278px;
}

.logo {
  text-align: center;
  margin-bottom: 19px;
}

.social {
  
}

/* signup페이지 복사 */
.form--container {
  background-color: white;
  padding: 24px;
  box-shadow: var(--bs-xl) !important;
  border-radius: 7px;

}
#signup-form {
  flex-direction: column;
}

.signup-box {
  flex-direction: column;
}

.signup-box label {
  color: var(--fc-dark);
  font-weight: 600;
  font-size: 15px;
}

.signup-item {
  margin-top: 6px;
  margin-bottom: 6px;
  flex-direction: column;
}

.signup-item input {
  border: 1px solid var(--bc-darker);
  border-radius: 3px;
  width: 100%;
  padding: 0.6em 0.7em;
  color: var(--fc-dark);
}

.pw-caption {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--fc-light);
}

@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)){
  #opt-in {
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    margin-right: 3px;
    border: 1px solid var(--bc-darker);
    border-radius: 3px;
    cursor: pointer;
  }
}

.check-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  padding: 2px;
  line-height: 18px;
}

.captcha {
  width: 266px;
  height: 144px;
  margin-bottom: 15px;
}

.captcha img {
  width: 100%;
}

.signup-btn {
  font-size: 13px;
  padding: 0.7rem;
  padding-top: 0.5rem;
  background-color: var(--blue-500);
  color: white;
  box-shadow: inset rgba(255, 255, 255, 0.4) 0px 1px 0px 0px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid var(--blue-500);
  white-space: nowrap !important;
  margin-top: 10px;
  margin-bottom: 2px;
  flex-grow: 1;
}

.signup-btn:hover {
  background-color: var(--blue-600);
}

.signup-caption {
  margin-top: 32px;
  margin-bottom: 4px;
  font-size: 13px;
  color: var(--fc-dark);
  text-align: center;
}

.signup-caption p {
  margin-bottom: 10px;
}

.signup-caption a {
  text-decoration: none;
  cursor: pointer;
  color: var(--blue-600);
}