.container {
  width: 100%;
  height: 968px;
  background-color: var(--black-050);
}

.center {
  width: 100%;
  padding: 24px;
  justify-content: center;
  align-items: center;
}

.center--main {
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--blue-500) !important;
} 
:global .svg-icon {
  color: var(--blue-500) !important;
}