footer{
    clear: both;
    width: 100%;
    background-color: hsl(210,8%,15%);
    padding: 32px 12px 36px;
}
footer li{
    list-style: none;
    height: 25px;
    display: flex;
    align-items: center;
}
footer li, footer a{
    line-height: calc(17 / 13);
    color: var(--black-600);
    font-size: 13px;
    color: hsl(210,8%,60%);
}
.footer__nav{
    display: flex;
    justify-content: space-around;
    max-width: 1264px;
}
.footer__nav__wrap{
    width: 600px;
    display: flex;
    justify-content: space-around;
}
.footer__sns{
    display: flex;
}
.footer__sns li{
    height: auto;
}
.footer__sns a{
    font-size: 11px;
    color: hsl(210,8%,60%);
    margin-left: 12px;
}
.footer__h5{
    font-size: 13px;
    margin-bottom: 12px;
    color: hsl(210,8%,75%);
}