.sidebar__Nav a{
    line-height: calc(17 / 13);
    color: var(--black-600);
    cursor: pointer;
    display: flex;
}
.sidebar__Nav{
    min-width: 164px;
    position: relative;
    border-right: 1px solid var(--black-100);
}
.sidebar__Nav.opened{
    background: var(--black-050);
}

.sidebar__li, .sidebar__home{
    display: flex;
    align-items: center;
    height: 34px;
    font-size: 13px;
    padding-left: 30px;
    box-sizing: border-box;
}
.sidebar__li a:hover, .sidebar__home a:hover{
    color: #000;
}

.sidebar__q__icon svg path {
    fill: currentColor;
}

.sidebar__h1{
    font-size: 11px;
    margin: 16px 0 2px 8px;
    box-sizing: border-box;
    color: var(--fc-light);
    display: flex;
    justify-content: space-between;
}
.sidebar__h1__icon{
    padding: 0 12px;
    fill: var(--black-500);
}
.sidebar__home{
    padding: 0;
    margin: 16px 0 0 8px;
}
.sticky{
    position: sticky;
    top: 66px;
    align-self: flex-start;
}
.sidebar__cf__icon, .sidebar__ec__icon, .sidebar__q__icon{
    position: relative;
}
.sidebar__cf__icon::before, .sidebar__ec__icon::before, .sidebar__q__icon::before{
    position: absolute;
    left: -14px;
}

.sidebar__cf__icon{
    display: flex;
    padding: 8px 6px 8px 8px;
    color: var(--black-600);
    line-height: 22px;
    margin-top: 2px;
    fill: white;
}
.sidebar__ec__icon{
    display: flex;
    padding: 8px 6px 8px 8px;
    color: var(--black-600);
    fill: var(--orange-400);
    line-height: 2px;
    margin-top: 2px;
}
.sidebar__ec__icon svg {
    margin-right: 4px;
}
.sidebar__q__icon {
    display: flex;
    padding: 8px 6px 8px 8px;
    color: var(--black-600);
    fill: var(--black-400);
    margin-top: 4px;
}
.sidebar__q__icon svg {
    margin-right: 4px;
    fill: var(--black-400);
}
.icon__bg {
    background-color: var(--orange-400);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    line-height: 130%;
    margin-right: 5px;
}

.sidebar__clicked {
    background-color: #000;
}